sphinx>=1.4
sphinx_rtd_theme
sphinx-hoverxref
ipykernel
nbsphinx
plotly==5.10.0
anndata==0.8.0
scikit-learn==0.24.1 
einops==0.4.1 
biopython==1.79
seaborn==0.12.2
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
pandas==1.4.2
numpy==1.20.3
matplotlib==3.5.2
scanpy==1.8.1
scikit-learn==0.24.1 
scirpy==0.10.1
tabulate=0.8.9
logomaker